<div id="new-question-form">
  <h1>Ask a question:</h1>

  <form class="" action="/questions" method="post">
    <label for="title">Title:</label></br>
    <input type="title" name="question[title]" value=""></br></br>

    <label for="body">Question:</label></br>
    <textarea type="text" name="question[body]" ></textarea></br></br>

    <input class="button" type="submit" value="Ask Question">
  </form>
</div>
