<container id="registration_form">
  <h1>Create an Account:</h1>

  <form class="" action="/users" method="post">
    <label for="username">Username:</label></br>
    <input type="username" name="user[username]" value=""></br></br>

    <label for="email">Email:</label></br>
    <input type="email" name="user[email]" value=""></br></br>

    <label for="password">Password:</label></br>
    <input type="password" name="user[password]" value=""></br></br>

    <input class="button" type="submit" value="Register">
  </form>
</container>
